body {
    background-color:mediumaquamarine;
  
  }
  body:after{
     opacity: 0.5;
  }
  
  #logo{    
    display: block;    
    margin-left: auto;    
    margin-right: auto;
   }

.poke-card {
    background-color: yellow;
    display: inline-block;
    padding: 0.5%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;    
}







